.footer {
  background-color: #00022B;
  color: white;
  overflow: hidden;
  height: 447px;
  position: relative;
}

.container-footer {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-logo {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to right, #fbbf24, #34d399, #60a5fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.social-links {
  display: flex;
  gap: 1.5rem;

}

.social-links a {
  color: white;
  transition: color 0.2s ease;
}

.social-links a:hover {
  color: #d1d5db;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.ux-logo-footer {
  width: 756.6px;
  height: 553px;
  position: relative;
  transform: translateY(-12%);
}

@media (max-width: 1440px) {
  .footer {
    height: 447px;
  }

  .social-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    height: 300px;
  }

  .ux-logo-footer {
    width: 500px;
    height: 350px;
  }

  .social-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 240px;
  }

  .container-footer {
    max-width: 90%;
  }

  .ux-logo-footer {
    width: 250px;
    height: 175px;
  }

  .social-icon {
    width: 1.2rem;
    height: 1.2rem;
  }

  .social-links {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .ux-logo-footer {
    width: 160px;
    height: auto;
    transform: translateY(0%);
  }
  .social-links {
    gap: 1.2rem;
    padding-bottom: 1.2rem;
    margin-left: 0;
  }
  .footer-content{
    gap: 0rem;
  }
}

@media (max-width: 375px) {
  .ux-logo-footer {
    width: 120px;
    height: auto;
  }
  .footer-content {
    gap: 0rem;
  }

  .social-links {
    gap: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .footer {
    height: 240px;
  }
  .social-links {
    gap: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
