.hero-content {
  width: 757px;
}



.member-container {
  margin-left: auto;
  margin-right: auto;
  width: 202.69px;
  display: flex;
  flex-direction: column;
  height: 333.07px;

}

.executive-row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media (max-width: 2000px) {
  .executive-row {
    gap: 66.93px;
    width: 80%;
    margin-bottom: 66.93px;
  }
}

@media (max-width: 1000px) {
  .executive-row {
    flex-direction: column;
    gap: 2em;
    margin-bottom: 66.93px;
  }
}




.member-border {
  padding: 3px; 
  position: relative;
  background: linear-gradient(to bottom right, #A3280C, #8FB1BE);
  height: 256.07px;
  width: 100%;
  border-radius: 20.85px;
  box-sizing: border-box;
}

.member-textbox {
  margin-top: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 53px;
  gap: 4px;
  line-height: 100%;

}

.member-role {
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to right, #A3280C, #657F95);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.member-card {

  background-color: white; /* or whatever card bg */
  border-radius: 18.85px;
  padding: 3px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

